<dx-data-grid class="app-grid-data-stream__container"
  [dataSource]="dataSource"
  [cacheEnabled]="false">

  <dxi-column dataField="OrderNumber"></dxi-column>
  <dxi-column dataField="OrderDate"></dxi-column>
  <dxi-column dataField="StoreCity"></dxi-column>
  <dxi-column dataField="StoreState"></dxi-column>
  <dxi-column dataField="Employee"></dxi-column>
  <dxi-column dataField="SaleAmount" format="currency"></dxi-column>

  <dxo-load-panel [enabled]="false"></dxo-load-panel>

  <dxo-remote-operations
    [paging]="true"
    [sorting]="true">
  </dxo-remote-operations>

  <dxo-paging [pageSize]="60"></dxo-paging>

  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[15, 30, 60, 90]">
  </dxo-pager>

  <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
</dx-data-grid>
